<!-- TODO tdit0703: back button? -->
<ion-header *ngIf="!noBorder">
    <ion-toolbar [color]="color">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-header no-border *ngIf="noBorder">
    <ion-toolbar [color]="color">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ng-template [ngIf]="showLogo()">
    <div class="header-image">
        <img src="../../../../assets/img/logo.png" alt="SC Dahenfeld 1946 e.V."/>
    </div>
</ng-template>