<page-state [loading]="isLoading" [error]="isError" [errorMessage]="errorMessage"></page-state>

<ion-content color="light" *ngIf="statistics.length > 0">

    <ng-template ngFor let-stat [ngForOf]="statistics">
        <statistics-card [persons]="persons"
                         [heading]="stat.heading"
                         [statisticFilter]="stat.filter"
                         (click)="openStatisticsModal(stat)"
                         class="clickable">
        </statistics-card>
    </ng-template>

</ion-content>