<page-header [title]="heading"></page-header>

<ion-content color="light">

    <div class="ion-text-center ion-padding-top">
        <p>
            <strong>SC Dahenfeld 1946 e.V.</strong><br/>
            In den Prügelwiesen<br/>
            74172 Neckarsulm
        </p>
    </div>

    <ion-item-group>
        <ion-item button [detail]="false">
            <ion-label>App-Version</ion-label>
            <p item-right>{{ version }}</p>
        </ion-item>
        <ion-item button [detail]="false" (click)="activateDevMode()">
            <ion-label>Design und Entwicklung</ion-label>
            <p item-right>{{ developer }}</p>
        </ion-item>
        <ion-item *ngIf="showDevModePasswordInput">
            <ion-label>Dev-Mode Passwort</ion-label>
            <ion-input [(ngModel)]="devModePassword" type="password" item-right></ion-input>
            <ion-button item-right (click)="validateDevModePassword()">Validieren</ion-button>
        </ion-item>
        <ion-item>
            <ion-label>Dark Mode</ion-label>
            <ion-toggle [(ngModel)]="darkMode" (ionChange)="toggleDarkMode()"></ion-toggle>
        </ion-item>
    </ion-item-group>

    <div class="ion-text-center">
        <ion-button *ngIf="isDevModeEnabled()" (click)="deactivateDevMode()">
            Entwickler-Modus deaktivieren
        </ion-button>
    </div>


</ion-content>
