img {
  vertical-align: middle;
  width: 25px;
  min-width: 25px;
  height: auto;
}
.match-overview {
  margin: 0 8px 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.75rem;

  thead {
    background: transparent;
  }

  th {
    text-align: left;
    font-weight: bold;
    color: #818181;
    border-bottom: 1px solid #ddd;
  }

  td,
  th {
    padding: 4px;
    height: 40px;
    line-height: 20px;
  }

  td {
    border-top: 1px solid #ddd;
  }
}
