<app-page-header [title]="heading"></app-page-header>
<app-page-state [loading]="isLoading" [error]="isError"></app-page-state>

<ion-content color="light">
  <div class="container">
    <div class="ion-padding">
      <div class="image">
        @if (sportheimInfo.image) {
          <img [src]="sportheimInfo.image" [alt]="sportheimInfo.owner" />
        }
      </div>

      @for (menue of sportheimInfo.menues; track menue) {
        <ion-button
          expand="full"
          (click)="navigateToExternalUrl(menue.link)"
          >
          {{ menue.name }}
        </ion-button>
      }

      @if (sportheimInfo.content) {
        <div [innerHTML]="sportheimInfo.content"></div>
      }

      @if (sportheimInfo.owner) {
        <div [innerHTML]="sportheimInfo.owner"></div>
      }
    </div>
  </div>
</ion-content>
