# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.angular
.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.gradle/
.versions/
.nx/
coverage/
www/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
/android/caches/
/android/wrapper/dists/
/android/app/google-services.json
/src/environments/credentials.ts
