<page-header [title]="heading"></page-header>
<page-state [loading]="isLoading" [error]="isError"></page-state>

<ion-content color="light" *ngIf="articles.length > 0">

    <ion-grid>
        <ion-row>
            <ion-col size="12" sizeMd="6" sizeLg="4" *ngFor="let article of articles; let index = index"
                     [ngClass]="{'padding-on-large': numberOfFeaturedArticles > 1}">
                <article-card
                        [article]="article"
                        [type]="index < numberOfFeaturedArticles ? 'large' : 'small'"
                        [routerLink]="article.getArticleLink()">
                </article-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
