<app-modal-header></app-modal-header>
<page-state [loading]="isLoading" [error]="isError"></page-state>

<ion-content color="light" *ngIf="person">

    <ion-refresher slot="fixed" (ionRefresh)="loadPerson($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <app-person-overview [person]="person"></app-person-overview>

    <app-tabs activeTabUrlIdentifier="person-overview"
              [fixed]="false">

        <app-tab tabTitle="Saison">
            <app-person-statistics [statistics]="person?.seasonStatistic"></app-person-statistics>
        </app-tab>

        <app-tab tabTitle="Karriere">
            <app-person-statistics [statistics]="person?.careerStatistic"></app-person-statistics>
        </app-tab>

    </app-tabs>

</ion-content>
