.imageContainer {
  position: relative;
}

.image {
  height: 60vh;
  box-shadow: 0px 1px 20px #31404b;
  background-size: cover;
  background-position: top;
}

.playerName {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #fff;
  z-index: 1;
  text-transform: uppercase;
}

.playerName h1,
.playerName h2 {
  padding: 0;
  margin: 0;
}

.playerName h1 {
  font-weight: bold;
  font-size: 3em;
}

.playerInfo {
  position: absolute;
  bottom: 15px;
  right: 0;
  text-align: right;
  color: #fff;
}

ion-col {
  padding: 0;
}

.statisticsHeader {
  background: #0f1010;
  color: #fff;
  text-align: center;
  padding: 16px;
}

.playerInfoValue,
.playerInfoText {
  margin: 0;
}

.playerInfoText {
  text-transform: uppercase;
}

.playerInfoValue {
  font-size: 2em;
  font-weight: bold;
}
