<page-header title="Kalender"></page-header>

<ion-content color="light">

    <ion-grid>
        <ion-row>
            <ion-col>
                <!-- TODO tdit0703: Link zur Detailseite -->
                <ng-template ngFor let-entry [ngForOf]="calendarEntries">
                    <h2 *ngIf="isDifferentDay(entry.start)">
                        {{entry.getFormattedStartDate()}}
                    </h2>

                    <calendar-card-match *ngIf="entry.isMatch()"
                                         [match]="entry">
                    </calendar-card-match>

                    <calendar-card-event *ngIf="entry.isEvent()"
                                         [event]="entry">
                    </calendar-card-event>

                </ng-template>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
