<page-state [loading]="isLoading" [error]="isError" [errorMessage]="errorMessage"></page-state>

<ion-content color="light" *ngIf="players.length > 0">
    <ion-list lines="none">
        <ng-template ngFor let-player [ngForOf]="players">

            <ion-list-header *ngIf="isDifferentPosition(player)">
                <strong>{{player.position}}</strong>
            </ion-list-header>

            <ion-item button mode="md" (click)="openPlayer(player.id)">
                <ion-avatar slot="start">
                    <ion-img [src]="player.image" [alt]="player.name"></ion-img>
                </ion-avatar>
                <ion-label>
                    <h2>{{player.name}}</h2>
                </ion-label>
            </ion-item>

        </ng-template>
    </ion-list>
</ion-content>
