<page-state [loading]="isLoading" [error]="isError" [errorMessage]="errorMessage"></page-state>

<ion-content color="light" *ngIf="players.size > 0">

    <ng-template ngFor let-map [ngForOf]="players | keyvalue: returnZero">

        <app-card-container [heading]="map.key">

            <ng-template ngFor let-player [ngForOf]="map.value">
                <ion-item button mode="md" (click)="openPlayer(player.id)">
                    <ion-avatar slot="start">
                        <ion-img [src]="player.image" [alt]="player.name"></ion-img>
                    </ion-avatar>
                    <ion-label>{{ player.name }}</ion-label>

                    <div slot="end" class="jerseynumber" *ngIf="player.jerseynumber > 0">{{ player.jerseynumber }}</div>
                </ion-item>
            </ng-template>

        </app-card-container>


    </ng-template>

</ion-content>
