<app-card-container [heading]="heading">
  <ion-spinner name="dots" *ngIf="!persons"></ion-spinner>

  <ion-list *ngIf="persons" lines="none">
    <ng-template ngFor let-person [ngForOf]="filteredPersons | slice: 0: 3">
      <app-list-item
        *ngIf="person.showOnFrontend || devModeEnabled"
        [image]="person.image"
        [text1]="person.name"
        [text2]="person.position"
        [note]="person[statisticsVariable][fieldVariable]"
      >
      </app-list-item>
    </ng-template>
  </ion-list>
</app-card-container>
