.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #f90c0a url("/assets/img/errorImage.png") center/cover no-repeat;
  color: white;
}

h1 {
  margin: .8em 3rem;
  font-size: 4em;
}
p {
  display: inline-block;
  margin: .2em 3rem;
  font-size: 2em;
}