.chronicle-wrapper {
  padding: 35px 0;

  h1 {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 200;
    margin-bottom: 20px;
  }

  p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto auto 45px;
  }

}
