<page-header noBorder="true" [title]="teamInformation?.name"></page-header>

<ion-content color="light">

    <ion-tabs>

        <ion-tab-bar slot="top">

            <ion-tab-button tab="ranking" *ngIf="teamInformation?.showRanking">
                <ion-label>Tabelle</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="fixture" *ngIf="teamInformation?.showFixture">
                <ion-label>Spielplan</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="players" *ngIf="teamInformation?.showPlayers">
                <ion-label>Kader</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="players" *ngIf="teamInformation?.showStatistics">
                <ion-label>Statistik</ion-label>
            </ion-tab-button>

        </ion-tab-bar>

    </ion-tabs>

</ion-content>
