<app-card-container heading="Informationen">

    <app-list-item *ngIf="date"
                   icon="time-outline"
                   text1="Anpfiff"
                   [text2]="date">
    </app-list-item>

    <app-list-item *ngIf="location"
                   icon="location-outline"
                   text1="Ort"
                   [text2]="location">
    </app-list-item>

    <app-list-item *ngIf="fixture"
                   icon="clipboard-outline"
                   [text1]="fixture">
    </app-list-item>

</app-card-container>