<ion-card mode="md" [ngClass]="getCardClass()">
  <ion-card-content>
    <div class="match-time" *ngIf="!existsResult()">{{ getFormattedStartTime() }}</div>

    <div class="match-result" *ngIf="existsResult()">
      <span
        class="match-result-home"
        [ngClass]="{'match-result-winner': isHomeWin(), 'match-result-loser': isAwayWin()}"
        >{{ homeResult }}</span
      >
      <span
        class="match-result-away"
        [ngClass]="{'match-result-winner': isAwayWin(), 'match-result-loser': isHomeWin()}"
        >{{ awayResult }}</span
      >
    </div>

    <ion-row>
      <ion-col class="match-team">
        <img [src]="homeImage" [alt]="homeName" class="team-image" />
        {{ homeName }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="match-team">
        <img [src]="awayImage" [alt]="awayName" class="team-image" />
        {{ awayName }}
      </ion-col>
    </ion-row>
  </ion-card-content>

  <ion-card-header>
    <ion-grid style="margin-inline: 0">
      <ion-row>
        <ion-col size="6"> {{ ageGroup }} </ion-col>

        <ion-col size="7" class="match-location ion-text-center" *ngIf="location">
          <strong>
            <ion-icon icon="location-outline"></ion-icon>
            {{ location }}
          </strong>
        </ion-col>

        <ion-col size="6" class="ion-text-right"> {{ fixture }} </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
</ion-card>
