ion-card-content {
  padding: 4px;
}

ion-card-header {
  padding: 0;
  border-top: 1px solid var(--ion-color-light);
  font-size: 0.75rem;
}

.match-time {
  background: #636161;
  padding: 6px;
  position: absolute;
  right: 6px;
  top: 6px;
  color: #fff;
  font-weight: bold;
}

.match-team {
  font-size: 0.8rem;
}

.match-location {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.match-result {
  font-size: 24px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: -.02em;
  color: var(--ion-color-dark);
}

.match-result-home {
  display: block;
  position: absolute;
  top: 4px;
  right: 8px;
}

.match-result-away {
  display: block;
  position: absolute;
  bottom: 4px;
  right: 8px;
}

.match-result-loser {
  color: var(--ion-color-medium);
}

.match-result-winner:before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 8px solid var(--ion-color-primary);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  transform: translateY(-50%);
}

.team-image {
  height: 25px;
  width: auto;
  display: inline !important;
  padding-right: 4px;
  vertical-align: middle;
}

.card-win {
  border-right: 5px solid #008000;
}

.card-draw {
  border-right: 5px solid #6e6e6e;
}

.card-lose {
  border-right: 5px solid var(--ion-color-primary);
}
