<page-header [title]="heading" noBorder="true"></page-header>
<page-state [loading]="isLoading" [error]="isError"></page-state>

<ion-content color="light">

    <!-- TODO tdit0703: Use custom tabs! -->
    <ion-tabs #articleTabs>

        <ion-tab-bar slot="top">

            <ng-template ngFor let-article [ngForOf]="articles">
                <ion-tab-button tab="article/{{article.id}}?heading={{heading}}">
                    <ion-label>{{article.title}}</ion-label>
                </ion-tab-button>
            </ng-template>

        </ion-tab-bar>

    </ion-tabs>

</ion-content>
