<page-header [title]="heading" noBorder="true"></page-header>
<page-state [loading]="isLoading" [error]="isError"></page-state>

<ion-content color="light">

    <app-tabs *ngIf="articles.length > 0"
              activeTabUrlIdentifier="article-tabs-tab">

        <ng-template ngFor let-article [ngForOf]="articles">

            <app-tab [tabTitle]="article.title">

                <article-detail [showHeader]="false"
                                [article]="article">
                </article-detail>

            </app-tab>

        </ng-template>

    </app-tabs>

</ion-content>
