<ion-grid class="statistic">
    <ion-row class="statisticRow">
        <ion-col size="6" class="statisticRowLeft">
            <p class="statisticText">{{text}}</p>
            <p class="statisticSubText">{{seasonSubText}}</p>
            <div class="statisticValue">{{seasonValue}}</div>
        </ion-col>
        <ion-col size="6" class="statisticRowRight">
            <p class="statisticText">{{text}}</p>
            <p class="statisticSubText">{{careerSubText}}</p>
            <div class="statisticValue">{{careerValue}}</div>
        </ion-col>
    </ion-row>
</ion-grid>
