<ion-header>
    <ion-toolbar>
        <ion-title>{{heading}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-list *ngIf="persons" lines="none">
        <ng-template ngFor let-person [ngForOf]="persons | orderBy : filter : true">

            <statistics-item [person]="person"
                             [filter]="filter"
                             [openPersonOnClick]="true">
            </statistics-item>

        </ng-template>
    </ion-list>
</ion-content>
