<app-modal-header [title]="heading"></app-modal-header>

<ion-content color="light" *ngIf="persons.length > 0">

    <ion-searchbar [(ngModel)]="searchFilter" placeholder="Person suchen"></ion-searchbar>

    <ion-list lines="none">
        <ng-template ngFor let-person [ngForOf]="persons | orderBy : filter : true | personFilter: searchFilter">

            <statistics-item [person]="person"
                             [filter]="filter">
            </statistics-item>

        </ng-template>
    </ion-list>
</ion-content>
