.nav-header {
  padding: 5px 15px;
  background-image: url('../assets/img/menu_bg.png');
  background-size: cover;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 1.25em;
}

.nav-header img {
  padding: 0;
  height: 12vh;
}
