<ion-app>

    <!-- Menu -->
    <ion-menu>
        <ion-content>

            <div class="nav-header">
                <img src="assets/img/logo.png"/>
                <br/>
                <span>SC Dahenfeld</span>
            </div>

            <ng-template ngFor let-nav [ngForOf]="navigation">
                <ion-list lines="none" *ngIf="!nav.devMode || nav.devMode && isDevModeEnabled()">
                    <ion-list-header mode="ios">
                        <ion-label>{{nav.title}}</ion-label>
                    </ion-list-header>
                    <ion-menu-toggle autoHide="false" *ngFor="let p of nav.content">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" [queryParams]="p.params">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>{{p.title}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ng-template>

        </ion-content>
    </ion-menu>

    <!-- Content -->
    <ion-router-outlet main></ion-router-outlet>

</ion-app>
