:host {
  height: 100%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.image {
  width: 100%;
  height: 100%;
  display: table;
  background-size: cover;
  background-position: center;
  position: relative;
}

.image::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.slider-container {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.category {
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 22px;
}

.title {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: -0.02em;
  font-size: 24px;
  line-height: 1em;
  font-style: normal;
  margin: 0 0 .75em 0;
  font-weight: 700;
}

.meta {
  text-transform: uppercase;
  list-style: none;
  font-size: 13px;
  line-height: 22px;
  padding: 0;
  margin-bottom: 22px;
}

.meta-item {
  font-size: 10px;
  line-height: 1.2em;
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}

.author {
  font-size: 13px;
  font-weight: 700;
}
