<page-header [title]="heading"></page-header>
<page-state [loading]="isLoading" [error]="isError"></page-state>

<ion-content color="light" *ngIf="!isLoading">

    <app-card-container heading="Custom Backend Call"
                        subHeading="Only for testing purposes">

        <ion-item>
            <ion-label>URL</ion-label>
            <ion-note slot="end">{{ backendUrl }}</ion-note>
        </ion-item>
        <ion-item>
            <ion-label>Nachricht</ion-label>
            <ion-note slot="end">{{ message }}</ion-note>
        </ion-item>
        <ion-item>
            <ion-label>Antwort</ion-label>
            <ion-note slot="end">{{ result | json }}</ion-note>
        </ion-item>

    </app-card-container>

</ion-content>


