<page-header [title]="heading"></page-header>
<page-state [loading]="isLoading" [error]="!isLoading && teams.size == 0"></page-state>

<ion-content color="light" *ngIf="teams.size > 0">

    <ng-template [ngIf]="showTable === 'false'">
        <ion-list>
            <ng-template ngFor let-team [ngForOf]="teams | keyvalue : teamNameOrder">
                <ion-item mode="ios" button="true" routerLink="/team-detail/{{team.key.teamId}}">
                    <ion-label>{{team.key.teamName}}</ion-label>
                </ion-item>
            </ng-template>
        </ion-list>
    </ng-template>

    <ng-template [ngIf]="showTable === 'true'">
        <ng-template ngFor let-team [ngForOf]="teams | keyvalue : teamNameOrder">
            <h4 class="ion-padding-start">{{team.key.teamName}}</h4>

            <ion-card mode="md" routerLink="/team-detail/{{team.key.teamId}}">
                <ranking [teams]="team.value"></ranking>

                <ion-row class="ion-no-padding">
                    <ion-col class="ion-text-center">
                        <ion-button expand="full" fill="clear">
                            Mehr zur {{team.key.teamName}}
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ng-template>
    </ng-template>

</ion-content>
