<app-card-container heading="Startelf">

    <ion-item mode="md"
              *ngFor="let player of lineup">

        <ion-avatar slot="start">
            <ion-img [src]="player.image" [alt]="player.name"></ion-img>
        </ion-avatar>

        <ion-label>
            <strong>{{ player.name }}</strong>
            <p>{{ player.position }}</p>
        </ion-label>

        <div slot="end" class="lineup-jerseynumber" *ngIf="player.jerseynumber > 0">{{ player.jerseynumber }}</div>

        <div *ngIf="player.captain" class="captain">
            <span>C</span>
        </div>
    </ion-item>

</app-card-container>

<app-card-container *ngIf="substitutions.length > 0"
                          heading="Spielerwechsel">

    <app-match-highlight *ngFor="let substitution of substitutions"
                         [event]="substitution">
    </app-match-highlight>

</app-card-container>
