<ion-card mode="md">
  @if (heading) {
    <ion-card-header (click)="toggleContent()">
      <ion-card-title mode="md">{{ heading }}</ion-card-title>
      @if (subHeading) {
        <ion-card-subtitle mode="md">{{ subHeading }}</ion-card-subtitle>
      }
      @if (actAsAccordion && !isContentVisible) {
        <ion-icon
          class="ion-icon"
          name="chevron-down-outline"
          />
      }
      @if (actAsAccordion && isContentVisible) {
        <ion-icon
          class="ion-icon"
          name="chevron-up-outline"
          />
      }
    </ion-card-header>
  }

  @if (isContentVisible) {
    <ion-card-content>
      <ng-content></ng-content>
    </ion-card-content>
  }
</ion-card>
