ion-card {
  margin-left: 0;
  margin-right: 0;
}

ion-card-title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

ion-card-subtitle {
  margin: 0;
}

ion-card-content {
  padding: 0;
}
