.article-card-image {
  height: 150px;
  background-size: cover;
  background-position: center;
}

.article-card-footer {
  border-top: 1px solid var(--ion-color-light);
  text-align: center;
}

.category {
  position: absolute;
  top: 8px;
  right: 8px;
}
