<app-modal-header></app-modal-header>

<ion-content color="light" *ngIf="event">
  <div class="image">
    <app-image-meta
      [title]="event.title"
      subTitleIcon="calendar-outline"
      [subTitle]="event.getEventDurationAsString()"
      subSubTitleIcon="location-outline"
      [subSubTitle]="event.location"
      [image]="event.getImageAsBackground()"
    >
    </app-image-meta>
  </div>

  <div class="container">
    <div class="ion-padding article-content" [innerHTML]="event.text"></div>
  </div>
</ion-content>
