<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="light" *ngIf="event">

    <div class="image">
        <image-meta [title]="event.title"
                    subTitleIcon="calendar" [subTitle]="event.getEventDurationAsString()"
                    subSubTitleIcon="pin" [subSubTitle]="event.location"
                    [image]="event.getImageAsBackground()">
        </image-meta>
    </div>

    <div class="container">
        <div class="ion-padding article-content" [innerHTML]="event.text"></div>
    </div>

</ion-content>