<app-page-header [title]="heading"></app-page-header>
<app-page-state [loading]="isLoading" [error]="isError"></app-page-state>

<ion-content color="light" class="ion-no-padding" *ngIf="persons.length > 0">
    <ng-template ngFor let-stat [ngForOf]="statistics">
      <app-statistics-card
        [persons]="persons"
        [heading]="stat.heading"
        [statisticFilter]="stat.filter"
        [devModeEnabled]="isDevModeEnabled()"
        (click)="openStatisticsModal(stat)"
        class="clickable"
      >
      </app-statistics-card>
    </ng-template>

  <app-card-container heading="Altersverteilung nach Jahren"
                      subHeading="Aktuelle Saison und mind. 1 Spiel">
      <canvas baseChart type="bar" [data]="ageDistributionByAge"
              [options]="barChartOptions"></canvas>
  </app-card-container>

  <app-card-container heading="Altersverteilung nach Geburtsjahr"
                      subHeading="Aktuelle Saison und mind. 1 Spiel">
      <canvas baseChart type="bar" [data]="ageDistributionByYearOfBirthday"
              [options]="barChartOptions"></canvas>
  </app-card-container>


</ion-content>
