<page-header></page-header>

<ion-content color="light" *ngIf="!loadingService.isLoading()">

    <article-detail [article]="membership?.article"
                    showOnlyTitle="true">
    </article-detail>

    <div *ngIf="membership?.costs" class="ion-padding">
        <h2>Mitgliedsbeiträge</h2>

        <ion-grid>
            <ion-row>
                <ion-col size="12" sizeMd="6" sizeLg="4" *ngFor="let cost of membership?.costs">
                    <cost-card [title]="cost.title"
                               [content]="cost.costs"
                               [footer]="cost.hint">
                    </cost-card>
                </ion-col>
            </ion-row>
        </ion-grid>


    </div>

    <div *ngIf="membership?.divisionCosts" class="ion-padding">
        <h2>Spartenbeiträge</h2>

        <ion-grid>
            <ion-row>
                <ion-col size="12" sizeMd="6" sizeLg="4" *ngFor="let cost of membership?.divisionCosts">
                    <cost-card [title]="cost.title"
                               [content]="cost.costs"
                               [footer]="cost.hint">
                    </cost-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>
