<page-header color="dark"></page-header>

<!-- Image -->
<div class="image" [ngStyle]="{'background-image' : article?.getFirstImageAsBackgroundUrl()}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post__meta-block post__meta-block--top">
                    <!-- Post Category -->
                    <div class="post__category">
                        <span class="label posts__cat-label">Fußball</span>
                    </div>

                    <!-- Post Title -->
                    <h1 class="page-heading__title">
                        Schiedsrichter gesucht </h1>
                    <!-- Post Title / End -->

                    <!-- Post Meta Info -->
                    <ul class="post__meta meta">

                        <li class="meta__item meta__item--views">7</li>
                    </ul>
                    <!-- Post Meta Info / End -->

                    <!-- Post Author -->
                    <div class="post-author">
                        <div class="post-author__info">
                            <h4 class="post-author__name">Timo Dittmann</h4>
                        </div>
                    </div>
                    <!-- Post Author / End -->

                </div>
                <!-- Post Meta - Top / End -->
            </div>
        </div>
    </div>
</div>

<ion-content>

</ion-content>
