<page-header [title]="heading"></page-header>
<page-state [loading]="isLoading" [error]="isError"></page-state>

<ion-content color="light" class="ion-no-padding" *ngIf="persons.length > 0">

    <ion-searchbar [(ngModel)]="filter" placeholder="Person suchen"></ion-searchbar>

    <cdk-virtual-scroll-viewport itemSize="65" minBufferPx="500" maxBufferPx="1350">
        <ion-list>
            <ion-item *cdkVirtualFor="let person of persons | orderBy: 'daysTillBirthday' | birthdayFilter: filter"
                      [color]="person.isTodaysBirthday() ? 'primary' : ''">
                <ion-label (click)="openPerson(person.id)">
                    <h2>{{ person.name }}</h2>
                    <h3>{{ person.birthdaySubtitle }}</h3>
                    <p>{{ person.formattedBirthday }}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </cdk-virtual-scroll-viewport>

</ion-content>
