<page-header color="dark"></page-header>

<ion-content no-padding>

    <ion-searchbar [(ngModel)]="filter" placeholder="Person suchen">
    </ion-searchbar>

    <ion-list>
        <ion-item *ngFor="let birthday of birthdays | birthdayFilter: filter"
                  [color]="birthday.isToday() ? 'primary' : ''">
            <ion-label>
                <h2>{{ birthday.getName() }}</h2>
                <h3>{{ birthday.getSubtitle() }}</h3>
                <p>{{ birthday.getFormattedDate() }}</p>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>
