// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "~@ionic/angular/css/display.css";

* {
  line-height: 1.5;
}

.clickable {
  cursor: pointer;
}


.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto
}

:focus {
  outline: none;
}

/** IOS custom styles **/
.list-ios {
  margin-bottom: 0;
}

.ios .header-image {
  padding-top: 35px;
}

.ios .nav-header {
  padding-top: 50px !important;
}

.ios ion-tab-bar {
  padding-top: 0;
}
