// http://ionicframework.com/docs/theming/
@import '@ionic/angular/css/core.css';
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';
@import "@ionic/angular/css/display.css";

* {
  line-height: 1.5;
}

a {
  color: #CB0328FF;
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto
}

.avatar {
  border-radius: 50%;
}

:focus {
  outline: none;
}

.border-color-win {
  border-right: 5px solid #008000;
}

.border-color-draw {
  border-right: 5px solid #6e6e6e;
}

.border-color-lose {
  border-right: 5px solid #960016FF;
}

/** IOS custom styles **/
.list-ios {
  margin-bottom: 0;
}

.ios .header-image {
  padding-top: 35px;
}

.ios .nav-header {
  padding-top: 50px !important;
}

.ios ion-tab-bar {
  padding-top: 0;
}

/** Styles from Homepage template **/
.card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
  color: #31404b;
  margin: 0 0 .75em;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  letter-spacing: -.02em
}

.dark {
  .accordion .accordion__header-link,
  .btn-outline.btn-default,
  .card h1, .card h2, .card h3, .card h4, .card h5, .card h6,
  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }

  .card,
  .card__header,
  .accordion .accordion__header-link {
    background-color: #1a1c1e;
  }
}

/* Card */

.card--row {
  -ms-flex-direction: row;
  flex-direction: row
}

.card--block {
  display: block
}

.card__header ~ .card__header, .card__header ~ .card__header:before {
  border-radius: 0
}

.card__header:before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #960416;
  border-radius: 3px 0 0 0
}

.card__header-secondary {
  display: -ms-flexbox;
  display: flex;
  gap: 12px
}

.card__header-secondary .form-group {
  margin-bottom: 0
}

.card__header--has-arrows .slick-next, .card__header--has-arrows .slick-prev {
  top: 25px
}

.card__header--has-team-info {
  padding-top: 21px;
  padding-bottom: 21px
}

.card__header--no-highlight:before {
  display: none
}

.card__header--double {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.card__header--double:after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #9fe900;
  border-radius: 0 3px 0 0
}

.card__header--hero {
  position: relative;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 140px
}

.card__header--hero .card__header-hgroup {
  position: relative;
  z-index: 4;
  text-align: center
}

.card__header--hero .card__header-title {
  font-size: 30px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #fff;
  -webkit-margin-after: .4em;
  margin-block-end: .4em
}

.card__header--hero .card__header-subtitle {
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #fff;
  -webkit-margin-after: 0;
  margin-block-end: 0
}

.card__content--header-bg {
  background-color: transparent
}

@media (min-width: 992px) {
  .card__subheader--sm {
    margin-bottom: 24px
  }
}

.card__subheader--side {
  text-align: left;
  border-top: 0;
  background-color: transparent;
  padding: 15px 24px
}

.card__subheader--side h5 {
  font-style: italic
}

.card__subheader--flex {
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #e4e7ed
}

.card__subheader--flex :last-child {
  margin-left: auto
}

.card__subheader--flex h5 {
  font-style: normal
}

.card__subheader--clean {
  background-color: transparent
}

.card__subheader--clean > h5 {
  font-weight: 400;
  color: #9a9da2;
  font-size: 9px
}

/* Accordion */
.accordion .card {
  margin-bottom: 0
}

.accordion .card:first-of-type .card__header {
  border-top-right-radius: 4px
}

.accordion .card:last-of-type .card__header {
  border-bottom-right-radius: 4px
}

.accordion .card__header {
  padding: 0;
  border-radius: 0
}

.accordion .card__header:before {
  display: none
}

.accordion .card__header > h5 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-bottom: 0px;
}

.accordion .accordion__header-link {
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  position: relative;
  font-style: normal;
  font-size: 14px;
  padding: 24px 94px 24px 12px;
  color: #31404b
}

.accordion .accordion__header-link:not(.collapsed) .accordion__header-link-icon {
  background-color: #960416;
  border-bottom-right-radius: 0
}

.accordion .accordion__header-link:not(.collapsed) .accordion__header-link-icon:after {
  opacity: 0
}

.accordion .accordion__header-link-icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70px;
  background-color: #9a9da2;
  border-radius: 0
}

.accordion .accordion__header-link-icon:after, .accordion .accordion__header-link-icon:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: opacity .2s ease
}

.accordion .accordion__header-link-icon:before {
  width: 12px;
  height: 2px
}

.accordion .accordion__header-link-icon:after {
  width: 2px;
  height: 12px
}

.accordion .card__content p:last-child {
  margin-bottom: 0
}

.accordion--space-between .card {
  margin-bottom: 15px
}

.accordion--space-between .card:last-child {
  margin-bottom: 0
}

.accordion--space-between .card .card__header, .accordion--space-between .card:first-of-type .card__header, .accordion--space-between .card:last-of-type .card__header {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0
}

.accordion--space-between .card:not(:first-of-type):not(:last-of-type) {
  border-bottom: 1px solid #e4e7ed;
  border-radius: 4px
}

.accordion--space-between .card:not(:first-of-type) .card-header:first-child {
  border-radius: 4px
}

.accordion--space-between .card:first-of-type {
  border-bottom: 1px solid #e4e7ed;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}

.accordion--space-between .card:last-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px
}

.accordion--space-between .accordion__header-link:not(.collapsed) .accordion__header-link-icon {
  border-bottom-right-radius: 0
}

.accordion--space-between .accordion__header-link.collapsed .accordion__header-link-icon {
  border-bottom-right-radius: 4px
}

.accordion .collapse {
  display: none;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #31404b;
  margin: 0 0 .75em 0;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 32px;
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-style: normal;
  text-transform: uppercase;
}

h3 {
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase;
}

h4 {
  font-size: 16px;
  text-transform: none;
  font-style: normal;
}

h5 {
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
}

h6 {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 2em;
  line-height: 26px;
  font-style: normal;
}

/* Paragraphs */
p {
  margin-bottom: 1.5em;
}

.lead {
  font-size: 16px;
  line-height: 2em;
}

/* Buttons */
.btn {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dark .btn-default {
  color: #fff;
  background-color: var(--background);
  border-color: transparent;
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #fff;
}

.btn:active, .btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:focus, .btn-default.focus {
  color: #fff;
  background-color: #868a91;
  border-color: transparent;
}

.btn-default:hover {
  color: #fff;
  background-color: #868a91;
  border-color: transparent;
}

.btn-default:active, .btn-default.active,
.open > .btn-default.dropdown-toggle {
  color: #fff;
  background-color: #868a91;
  border-color: transparent;
}

.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus,
.open > .btn-default.dropdown-toggle:hover,
.open > .btn-default.dropdown-toggle:focus,
.open > .btn-default.dropdown-toggle.focus {
  color: #fff;
  background-color: #6e7177;
  border-color: transparent;
}

.btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus {
  background-color: #9a9da2;
  border-color: transparent;
}

.btn-default .badge {
  color: #9a9da2;
  background-color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #31404b;
  border-color: transparent;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #CB0328FF;
  border-color: transparent;
}

.btn-primary:hover {
  color: #fff;
  background-color: #CB0328FF;
  border-color: transparent;
}

.btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #CB0328FF;
  border-color: transparent;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #0f1317;
  border-color: transparent;
}

.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #31404b;
  border-color: transparent;
}

.btn-primary .badge {
  color: #31404b;
  background-color: #fff;
}

.btn-primary-inverse {
  color: #fff;
  background-color: #CB0328FF;
  border-color: transparent;
}

.btn-primary-inverse:focus, .btn-primary-inverse.focus {
  color: #fff;
  background-color: #CB0328FF;
  border-color: transparent;
}

.btn-primary-inverse:hover {
  color: #fff;
  background-color: #CB0328FF;
  border-color: transparent;
}

.btn-primary-inverse:active, .btn-primary-inverse.active,
.open > .btn-primary-inverse.dropdown-toggle {
  color: #fff;
  background-color: #CB0328FF;
  border-color: transparent;
}

.btn-primary-inverse:active:hover, .btn-primary-inverse:active:focus, .btn-primary-inverse:active.focus, .btn-primary-inverse.active:hover, .btn-primary-inverse.active:focus, .btn-primary-inverse.active.focus,
.open > .btn-primary-inverse.dropdown-toggle:hover,
.open > .btn-primary-inverse.dropdown-toggle:focus,
.open > .btn-primary-inverse.dropdown-toggle.focus {
  color: #fff;
  background-color: #007fe0;
  border-color: transparent;
}

.btn-primary-inverse.disabled:hover, .btn-primary-inverse.disabled:focus, .btn-primary-inverse.disabled.focus, .btn-primary-inverse[disabled]:hover, .btn-primary-inverse[disabled]:focus, .btn-primary-inverse[disabled].focus,
fieldset[disabled] .btn-primary-inverse:hover,
fieldset[disabled] .btn-primary-inverse:focus,
fieldset[disabled] .btn-primary-inverse.focus {
  background-color: #CB0328FF;
  border-color: transparent;
}

.btn-primary-inverse .badge {
  color: #CB0328FF;
  background-color: #fff;
}

.btn-success {
  color: #fff;
  background-color: #9fe900;
  border-color: transparent;
}

.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #95da00;
  border-color: transparent;
}

.btn-success:hover {
  color: #fff;
  background-color: #95da00;
  border-color: transparent;
}

.btn-success:active, .btn-success.active,
.open > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #95da00;
  border-color: transparent;
}

.btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus,
.open > .btn-success.dropdown-toggle:hover,
.open > .btn-success.dropdown-toggle:focus,
.open > .btn-success.dropdown-toggle.focus {
  color: #fff;
  background-color: #649200;
  border-color: transparent;
}

.btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success.focus {
  background-color: #9fe900;
  border-color: transparent;
}

.btn-success .badge {
  color: #9fe900;
  background-color: #fff;
}

.btn-info {
  color: #fff;
  background-color: #0cb2e2;
  border-color: transparent;
}

.btn-info:focus, .btn-info.focus {
  color: #fff;
  background-color: #0ba7d3;
  border-color: transparent;
}

.btn-info:hover {
  color: #fff;
  background-color: #0ba7d3;
  border-color: transparent;
}

.btn-info:active, .btn-info.active,
.open > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #0ba7d3;
  border-color: transparent;
}

.btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus,
.open > .btn-info.dropdown-toggle:hover,
.open > .btn-info.dropdown-toggle:focus,
.open > .btn-info.dropdown-toggle.focus {
  color: #fff;
  background-color: #087190;
  border-color: transparent;
}

.btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info.focus {
  background-color: #0cb2e2;
  border-color: transparent;
}

.btn-info .badge {
  color: #0cb2e2;
  background-color: #fff;
}

.btn-warning {
  color: #fff;
  background-color: #ff7e1f;
  border-color: transparent;
}

.btn-warning:focus, .btn-warning.focus {
  color: #fff;
  background-color: #ff7510;
  border-color: transparent;
}

.btn-warning:hover {
  color: #fff;
  background-color: #ff7510;
  border-color: transparent;
}

.btn-warning:active, .btn-warning.active,
.open > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #ff7510;
  border-color: transparent;
}

.btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning.active:hover, .btn-warning.active:focus, .btn-warning.active.focus,
.open > .btn-warning.dropdown-toggle:hover,
.open > .btn-warning.dropdown-toggle:focus,
.open > .btn-warning.dropdown-toggle.focus {
  color: #fff;
  background-color: #c75500;
  border-color: transparent;
}

.btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #ff7e1f;
  border-color: transparent;
}

.btn-warning .badge {
  color: #ff7e1f;
  background-color: #fff;
}

.btn-danger {
  color: #fff;
  background-color: #f34141;
  border-color: transparent;
}

.btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background-color: #f23333;
  border-color: transparent;
}

.btn-danger:hover {
  color: #fff;
  background-color: #f23333;
  border-color: transparent;
}

.btn-danger:active, .btn-danger.active,
.open > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #f23333;
  border-color: transparent;
}

.btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus,
.open > .btn-danger.dropdown-toggle:hover,
.open > .btn-danger.dropdown-toggle:focus,
.open > .btn-danger.dropdown-toggle.focus {
  color: #fff;
  background-color: #d00d0d;
  border-color: transparent;
}

.btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #f34141;
  border-color: transparent;
}

.btn-danger .badge {
  color: #f34141;
  background-color: #fff;
}

.btn-instagram {
  background-color: #1e78dd;
  color: #fff;
}

.btn-instagram:hover, .btn-instagram:active, .btn-instagram:focus {
  background-color: #3185e3;
}

.btn-instagram i {
  font-size: 6px;
  position: relative;
  top: -1px;
}

.btn-instagram.btn-sm {
  padding-left: 24px;
  padding-right: 24px;
}

.btn-facebook {
  color: #fff;
  background-color: #4d6baa;
  border-color: transparent;
}

.btn-facebook:focus, .btn-facebook.focus {
  color: #fff;
  background-color: #5c78b5;
  border-color: transparent;
}

.btn-facebook:hover {
  color: #fff;
  background-color: #5c78b5;
  border-color: transparent;
}

.btn-facebook:active, .btn-facebook.active,
.open > .btn-facebook.dropdown-toggle {
  color: #fff;
  background-color: #5c78b5;
  border-color: transparent;
}

.btn-facebook:active:hover, .btn-facebook:active:focus, .btn-facebook:active.focus, .btn-facebook.active:hover, .btn-facebook.active:focus, .btn-facebook.active.focus,
.open > .btn-facebook.dropdown-toggle:hover,
.open > .btn-facebook.dropdown-toggle:focus,
.open > .btn-facebook.dropdown-toggle.focus {
  color: #fff;
  background-color: #32456e;
  border-color: transparent;
}

.btn-facebook.disabled:hover, .btn-facebook.disabled:focus, .btn-facebook.disabled.focus, .btn-facebook[disabled]:hover, .btn-facebook[disabled]:focus, .btn-facebook[disabled].focus,
fieldset[disabled] .btn-facebook:hover,
fieldset[disabled] .btn-facebook:focus,
fieldset[disabled] .btn-facebook.focus {
  background-color: #4d6baa;
  border-color: transparent;
}

.btn-facebook .badge {
  color: #4d6baa;
  background-color: #fff;
}

.btn-twitter {
  color: #fff;
  background-color: #3fcef2;
  border-color: transparent;
}

.btn-twitter:focus, .btn-twitter.focus {
  color: #fff;
  background-color: #57d4f4;
  border-color: transparent;
}

.btn-twitter:hover {
  color: #fff;
  background-color: #57d4f4;
  border-color: transparent;
}

.btn-twitter:active, .btn-twitter.active,
.open > .btn-twitter.dropdown-toggle {
  color: #fff;
  background-color: #57d4f4;
  border-color: transparent;
}

.btn-twitter:active:hover, .btn-twitter:active:focus, .btn-twitter:active.focus, .btn-twitter.active:hover, .btn-twitter.active:focus, .btn-twitter.active.focus,
.open > .btn-twitter.dropdown-toggle:hover,
.open > .btn-twitter.dropdown-toggle:focus,
.open > .btn-twitter.dropdown-toggle.focus {
  color: #fff;
  background-color: #0ea6cc;
  border-color: transparent;
}

.btn-twitter.disabled:hover, .btn-twitter.disabled:focus, .btn-twitter.disabled.focus, .btn-twitter[disabled]:hover, .btn-twitter[disabled]:focus, .btn-twitter[disabled].focus,
fieldset[disabled] .btn-twitter:hover,
fieldset[disabled] .btn-twitter:focus,
fieldset[disabled] .btn-twitter.focus {
  background-color: #3fcef2;
  border-color: transparent;
}

.btn-twitter .badge {
  color: #3fcef2;
  background-color: #fff;
}

.btn-gplus {
  color: #fff;
  background-color: #e34d39;
  border-color: transparent;
}

.btn-gplus:focus, .btn-gplus.focus {
  color: #fff;
  background-color: #e6614f;
  border-color: transparent;
}

.btn-gplus:hover {
  color: #fff;
  background-color: #e6614f;
  border-color: transparent;
}

.btn-gplus:active, .btn-gplus.active,
.open > .btn-gplus.dropdown-toggle {
  color: #fff;
  background-color: #e6614f;
  border-color: transparent;
}

.btn-gplus:active:hover, .btn-gplus:active:focus, .btn-gplus:active.focus, .btn-gplus.active:hover, .btn-gplus.active:focus, .btn-gplus.active.focus,
.open > .btn-gplus.dropdown-toggle:hover,
.open > .btn-gplus.dropdown-toggle:focus,
.open > .btn-gplus.dropdown-toggle.focus {
  color: #fff;
  background-color: #ad2a18;
  border-color: transparent;
}

.btn-gplus.disabled:hover, .btn-gplus.disabled:focus, .btn-gplus.disabled.focus, .btn-gplus[disabled]:hover, .btn-gplus[disabled]:focus, .btn-gplus[disabled].focus,
fieldset[disabled] .btn-gplus:hover,
fieldset[disabled] .btn-gplus:focus,
fieldset[disabled] .btn-gplus.focus {
  background-color: #e34d39;
  border-color: transparent;
}

.btn-gplus .badge {
  color: #e34d39;
  background-color: #fff;
}

.btn-linkedin {
  color: #fff;
  background-color: #0077B5;
  border-color: transparent;
}

.btn-linkedin:focus, .btn-linkedin.focus {
  color: #fff;
  background-color: #0088cf;
  border-color: transparent;
}

.btn-linkedin:hover {
  color: #fff;
  background-color: #0088cf;
  border-color: transparent;
}

.btn-linkedin:active, .btn-linkedin.active,
.open > .btn-linkedin.dropdown-toggle {
  color: #fff;
  background-color: #0088cf;
  border-color: transparent;
}

.btn-linkedin:active:hover, .btn-linkedin:active:focus, .btn-linkedin:active.focus, .btn-linkedin.active:hover, .btn-linkedin.active:focus, .btn-linkedin.active.focus,
.open > .btn-linkedin.dropdown-toggle:hover,
.open > .btn-linkedin.dropdown-toggle:focus,
.open > .btn-linkedin.dropdown-toggle.focus {
  color: #fff;
  background-color: #003e5e;
  border-color: transparent;
}

.btn-linkedin.disabled:hover, .btn-linkedin.disabled:focus, .btn-linkedin.disabled.focus, .btn-linkedin[disabled]:hover, .btn-linkedin[disabled]:focus, .btn-linkedin[disabled].focus,
fieldset[disabled] .btn-linkedin:hover,
fieldset[disabled] .btn-linkedin:focus,
fieldset[disabled] .btn-linkedin.focus {
  background-color: #0077B5;
  border-color: transparent;
}

.btn-linkedin .badge {
  color: #0077B5;
  background-color: #fff;
}

.btn-vk {
  color: #fff;
  background-color: #6383A8;
  border-color: transparent;
}

.btn-vk:focus, .btn-vk.focus {
  color: #fff;
  background-color: #7390b1;
  border-color: transparent;
}

.btn-vk:hover {
  color: #fff;
  background-color: #7390b1;
  border-color: transparent;
}

.btn-vk:active, .btn-vk.active,
.open > .btn-vk.dropdown-toggle {
  color: #fff;
  background-color: #7390b1;
  border-color: transparent;
}

.btn-vk:active:hover, .btn-vk:active:focus, .btn-vk:active.focus, .btn-vk.active:hover, .btn-vk.active:focus, .btn-vk.active.focus,
.open > .btn-vk.dropdown-toggle:hover,
.open > .btn-vk.dropdown-toggle:focus,
.open > .btn-vk.dropdown-toggle.focus {
  color: #fff;
  background-color: #415874;
  border-color: transparent;
}

.btn-vk.disabled:hover, .btn-vk.disabled:focus, .btn-vk.disabled.focus, .btn-vk[disabled]:hover, .btn-vk[disabled]:focus, .btn-vk[disabled].focus,
fieldset[disabled] .btn-vk:hover,
fieldset[disabled] .btn-vk:focus,
fieldset[disabled] .btn-vk.focus {
  background-color: #6383A8;
  border-color: transparent;
}

.btn-vk .badge {
  color: #6383A8;
  background-color: #fff;
}

.btn-odnoklassniki {
  color: #fff;
  background-color: #F4731C;
  border-color: transparent;
}

.btn-odnoklassniki:focus, .btn-odnoklassniki.focus {
  color: #fff;
  background-color: #f58234;
  border-color: transparent;
}

.btn-odnoklassniki:hover {
  color: #fff;
  background-color: #f58234;
  border-color: transparent;
}

.btn-odnoklassniki:active, .btn-odnoklassniki.active,
.open > .btn-odnoklassniki.dropdown-toggle {
  color: #fff;
  background-color: #f58234;
  border-color: transparent;
}

.btn-odnoklassniki:active:hover, .btn-odnoklassniki:active:focus, .btn-odnoklassniki:active.focus, .btn-odnoklassniki.active:hover, .btn-odnoklassniki.active:focus, .btn-odnoklassniki.active.focus,
.open > .btn-odnoklassniki.dropdown-toggle:hover,
.open > .btn-odnoklassniki.dropdown-toggle:focus,
.open > .btn-odnoklassniki.dropdown-toggle.focus {
  color: #fff;
  background-color: #b14c09;
  border-color: transparent;
}

.btn-odnoklassniki.disabled:hover, .btn-odnoklassniki.disabled:focus, .btn-odnoklassniki.disabled.focus, .btn-odnoklassniki[disabled]:hover, .btn-odnoklassniki[disabled]:focus, .btn-odnoklassniki[disabled].focus,
fieldset[disabled] .btn-odnoklassniki:hover,
fieldset[disabled] .btn-odnoklassniki:focus,
fieldset[disabled] .btn-odnoklassniki.focus {
  background-color: #F4731C;
  border-color: transparent;
}

.btn-odnoklassniki .badge {
  color: #F4731C;
  background-color: #fff;
}

.btn-link {
  color: rgba(49, 64, 75, 0.4);
}

.btn-link:hover {
  text-decoration: none;
  color: #31404b;
}

.btn-lg {
  padding: 16px 80px;
  font-size: 13px;
  line-height: 1.45em;
  border-radius: 2px;
}

.btn-sm {
  padding: 10px 38px;
  font-size: 11px;
  line-height: 1.5em;
  border-radius: 2px;
}

.btn-xs {
  padding: 5px 13px;
  font-size: 9px;
  line-height: 1.5em;
  border-radius: 2px;
}

.btn-outline {
  background-color: transparent;
}

.btn-outline.btn-default {
  border-color: #dbdfe6;
  color: #9a9da2;
}

.btn-outline.btn-default:hover {
  background-color: #9a9da2;
  border-color: #9a9da2;
  color: #fff;
}

.btn-outline.btn-default:hover.btn-circle {
  background-color: #9a9da2;
}

.btn-outline.btn-primary {
  border-color: #e4e7ed;
  color: #31404b;
}

.btn-outline.btn-primary:hover {
  background-color: #CB0328FF;
  border-color: #CB0328FF;
  color: #fff;
}

.btn-outline.btn-primary:hover.btn-circle {
  background-color: #CB0328FF;
}

.btn-outline.btn-inverse {
  border-color: #fff;
  color: #fff;
  border-width: 2px;
}

.btn-outline.btn-inverse:hover {
  background-color: #CB0328FF;
  border-color: #CB0328FF;
  color: #fff;
}

.btn-outline.btn-inverse:hover i {
  color: #fff;
}

.btn-outline.btn-inverse:hover.btn-circle {
  background-color: #CB0328FF;
}

.btn-outline.btn-success {
  border-color: #9fe900;
  color: #9a9da2;
  border-width: 2px;
}

.btn-outline.btn-success:hover {
  background-color: #95da00;
  border-color: #95da00;
  color: #fff;
}

.btn-outline.btn-success:hover i {
  color: #fff;
}

.btn-outline.btn-success:hover.btn-circle {
  background-color: #95da00;
}

.btn-outline.btn-info {
  border-color: #0cb2e2;
  color: #9a9da2;
  border-width: 2px;
}

.btn-outline.btn-info:hover {
  background-color: #0ba7d3;
  border-color: #0ba7d3;
  color: #fff;
}

.btn-outline.btn-info:hover i {
  color: #fff;
}

.btn-outline.btn-info:hover.btn-circle {
  background-color: #0ba7d3;
}

.btn-outline.btn-warning {
  border-color: #ff7e1f;
  color: #9a9da2;
  border-width: 2px;
}

.btn-outline.btn-warning:hover {
  background-color: #ff7510;
  border-color: #ff7510;
  color: #fff;
}

.btn-outline.btn-warning:hover i {
  color: #fff;
}

.btn-outline.btn-warning:hover.btn-circle {
  background-color: #ff7510;
}

.btn-outline.btn-danger {
  border-color: #f34141;
  color: #9a9da2;
  border-width: 2px;
}

.btn-outline.btn-danger:hover {
  background-color: #f23333;
  border-color: #f23333;
  color: #fff;
}

.btn-outline.btn-danger:hover i {
  color: #fff;
}

.btn-outline.btn-danger:hover.btn-circle {
  background-color: #f23333;
}

.btn-icon i {
  font-size: 14px;
  margin-right: 10px;
}

.btn-icon-right i {
  margin-right: 0;
  margin-left: 10px;
}

.btn-single-icon {
  padding-left: 0;
  padding-right: 0;
  width: 47px;
  text-align: center;
}

.btn-single-icon i {
  margin: 0;
  font-size: 13px;
  line-height: 1.2em;
}

.btn-circle {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  line-height: 38px;
  padding: 0;
  text-align: center;
}

.btn-circle i {
  font-size: 15px;
}

.btn-circle.btn-outline {
  border-width: 2px;
}

.btn-condensed.btn-sm {
  padding: 13px 28px;
}

.btn-condensed.btn-sm.btn-icon-right {
  padding-right: 22px;
}

.btn-fab {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: #CB0328FF;
  border-radius: 50%;
}

.btn-fab::before, .btn-fab::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.btn-fab::before {
  width: 17px;
  height: 3px;
}

.btn-fab::after {
  width: 3px;
  height: 17px;
}

.btn-fab:hover::before, .btn-fab:hover::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.btn-fab--clean {
  background-color: transparent;
}

.btn-fab--clean::before, .btn-fab--clean::after {
  background-color: #CB0328FF;
}

.btn-fab--sm {
  width: 30px;
  height: 30px;
}

.btn-fab--sm::before {
  width: 10px;
  height: 2px;
}

.btn-fab--sm::after {
  width: 2px;
  height: 10px;
}

/* Card
/* ------------------------- */
.card {
  border: 1px solid #e4e7ed;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 15px;
}

.card--clean {
  background: none;
  border: none;
}

.card--clean .card__header {
  background-color: #fff;
  border: 1px solid #e4e7ed;
  border-radius: 4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 12px;
  min-height: 72px;
  padding: 22px 24px;
  position: relative;
  overflow: hidden;
}

.card--clean > .card__content {
  padding: 15px 0 0 0;
}

.card--has-table > .card__content {
  padding: 0;
}

.card--has-table > .card__content .table {
  margin-bottom: 0;
}

.card--no-paddings > .card__content {
  padding: 0;
}

.card--squared-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card__header {
  padding: 27px 23px;
  border-radius: 4px 4px 0 0;
  position: relative;
  border-bottom: 1px solid #e4e7ed;
  overflow: hidden;
  background-color: transparent;
}

.card__header ~ .card__header {
  border-radius: 0;
}

.card__header ~ .card__header::before {
  border-radius: 0;
}

.card__header::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #CB0328FF;
  border-radius: 3px 0 0 0;
}

.card__header > h4 {
  font-size: 16px;
  line-height: 1.2em;
  letter-spacing: -0.02em;
  margin-bottom: 0;
  text-transform: uppercase;
  font-style: normal;
}

@media (min-width: 992px) {
  .card__header .card-header__button {
    float: right;
  }
}

.card__header--has-btn {
  padding-top: 24px;
  padding-bottom: 24px;
}

.card__header--has-btn > h4 {
  margin-bottom: .5em;
}

@media (min-width: 480px) {
  .card__header--has-btn > h4 {
    display: inline-block;
    margin-bottom: 0;
  }
}

.card__header--has-filter {
  padding-top: 24px;
  padding-bottom: 24px;
}

.card__header--has-filter > h4 {
  display: inline-block;
}

.card__header--has-filter .category-filter {
  padding-top: 5px;
}

@media (min-width: 480px) {
  .card__header--has-filter .category-filter {
    float: right;
    padding-top: 0;
  }
}

.card__header--has-legend {
  padding-top: 24px;
  padding-bottom: 24px;
}

.card__header--has-legend > h4 {
  display: inline-block;
}

.card__header--has-legend .chart-legend {
  padding-top: 5px;
}

@media (min-width: 480px) {
  .card__header--has-legend .chart-legend {
    float: right;
    padding-top: 0;
  }
}

.card__header--has-checkbox {
  padding-top: 24px;
  padding-bottom: 24px;
}

.card__header--has-checkbox > h4 {
  margin-bottom: .5em;
}

@media (min-width: 480px) {
  .card__header--has-checkbox > h4 {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 480px) {
  .card__header--has-checkbox .checkbox {
    float: right;
    padding-top: 0;
    font-size: 10px;
    font-weight: bold;
  }
}

.card__header--has-toggle {
  padding-top: 24px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card__header--has-toggle .switch {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.card__content {
  padding: 24px;
}

.card__content-inner {
  padding: 20px;
}

.card__subheader {
  background: #f5f7f9;
  border-top: 1px solid #e4e7ed;
  border-bottom: 1px solid #e4e7ed;
  text-align: center;
  padding: 8px 0;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .card__subheader {
    padding: 11px 0;
    margin-bottom: 30px;
  }
}

.card__subheader h5 {
  margin-bottom: 0;
  font-style: normal;
  text-transform: uppercase;
}

.card__subheader--nomargins {
  margin: 0;
}

.card__subheader--sm h5 {
  font-size: 11px;
  line-height: 1.2em;
}

@media (min-width: 992px) {
  .card--lg .card__content {
    padding: 43px 43px;
  }
}

@media (min-width: 992px) {
  .card--xlg .card__content {
    padding: 70px 70px;
  }
}

.card--alt-color .card__header::before {
  background-color: #9fe900;
}

.card__header--shop-filter {
  padding: 0;
}

.card--section {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

/*# sourceMappingURL=style.css.map */


/* Bootstrap styles */
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-05 {
  flex: 0 0 auto;
  width: 4.1666666665%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}


@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }

  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }

  .g-sm-0,
  .gx-sm-0 {
    --bs-gutter-x: 0;
  }

  .g-sm-0,
  .gy-sm-0 {
    --bs-gutter-y: 0;
  }

  .g-sm-1,
  .gx-sm-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-sm-1,
  .gy-sm-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-sm-2,
  .gx-sm-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-sm-2,
  .gy-sm-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-sm-3,
  .gx-sm-3 {
    --bs-gutter-x: 1rem;
  }

  .g-sm-3,
  .gy-sm-3 {
    --bs-gutter-y: 1rem;
  }

  .g-sm-4,
  .gx-sm-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-sm-4,
  .gy-sm-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-sm-5,
  .gx-sm-5 {
    --bs-gutter-x: 3rem;
  }

  .g-sm-5,
  .gy-sm-5 {
    --bs-gutter-y: 3rem;
  }
}

@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }

  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .offset-md-2 {
    margin-left: 16.6666666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.3333333333%;
  }

  .offset-md-5 {
    margin-left: 41.6666666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.3333333333%;
  }

  .offset-md-8 {
    margin-left: 66.6666666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.3333333333%;
  }

  .offset-md-11 {
    margin-left: 91.6666666667%;
  }

  .g-md-0,
  .gx-md-0 {
    --bs-gutter-x: 0;
  }

  .g-md-0,
  .gy-md-0 {
    --bs-gutter-y: 0;
  }

  .g-md-1,
  .gx-md-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-md-1,
  .gy-md-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-md-2,
  .gx-md-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-md-2,
  .gy-md-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-md-3,
  .gx-md-3 {
    --bs-gutter-x: 1rem;
  }

  .g-md-3,
  .gy-md-3 {
    --bs-gutter-y: 1rem;
  }

  .g-md-4,
  .gx-md-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-md-4,
  .gy-md-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-md-5,
  .gx-md-5 {
    --bs-gutter-x: 3rem;
  }

  .g-md-5,
  .gy-md-5 {
    --bs-gutter-y: 3rem;
  }
}

@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }

  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }

  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }

  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }

  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }

  .g-lg-0,
  .gx-lg-0 {
    --bs-gutter-x: 0;
  }

  .g-lg-0,
  .gy-lg-0 {
    --bs-gutter-y: 0;
  }

  .g-lg-1,
  .gx-lg-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-lg-1,
  .gy-lg-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-lg-2,
  .gx-lg-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-lg-2,
  .gy-lg-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-lg-3,
  .gx-lg-3 {
    --bs-gutter-x: 1rem;
  }

  .g-lg-3,
  .gy-lg-3 {
    --bs-gutter-y: 1rem;
  }

  .g-lg-4,
  .gx-lg-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-lg-4,
  .gy-lg-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-lg-5,
  .gx-lg-5 {
    --bs-gutter-x: 3rem;
  }

  .g-lg-5,
  .gy-lg-5 {
    --bs-gutter-y: 3rem;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
  }

  .row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }

  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }

  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }

  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }

  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }

  .g-xl-0,
  .gx-xl-0 {
    --bs-gutter-x: 0;
  }

  .g-xl-0,
  .gy-xl-0 {
    --bs-gutter-y: 0;
  }

  .g-xl-1,
  .gx-xl-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-xl-1,
  .gy-xl-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-xl-2,
  .gx-xl-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-xl-2,
  .gy-xl-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-xl-3,
  .gx-xl-3 {
    --bs-gutter-x: 1rem;
  }

  .g-xl-3,
  .gy-xl-3 {
    --bs-gutter-y: 1rem;
  }

  .g-xl-4,
  .gx-xl-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-xl-4,
  .gy-xl-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-xl-5,
  .gx-xl-5 {
    --bs-gutter-x: 3rem;
  }

  .g-xl-5,
  .gy-xl-5 {
    --bs-gutter-y: 3rem;
  }
}

@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%;
  }

  .row-cols-xxl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-xxl-0 {
    margin-left: 0;
  }

  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }

  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }

  .offset-xxl-3 {
    margin-left: 25%;
  }

  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }

  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }

  .offset-xxl-6 {
    margin-left: 50%;
  }

  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }

  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }

  .offset-xxl-9 {
    margin-left: 75%;
  }

  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }

  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }

  .g-xxl-0,
  .gx-xxl-0 {
    --bs-gutter-x: 0;
  }

  .g-xxl-0,
  .gy-xxl-0 {
    --bs-gutter-y: 0;
  }

  .g-xxl-1,
  .gx-xxl-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-xxl-1,
  .gy-xxl-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-xxl-2,
  .gx-xxl-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-xxl-2,
  .gy-xxl-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-xxl-3,
  .gx-xxl-3 {
    --bs-gutter-x: 1rem;
  }

  .g-xxl-3,
  .gy-xxl-3 {
    --bs-gutter-y: 1rem;
  }

  .g-xxl-4,
  .gx-xxl-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-xxl-4,
  .gy-xxl-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-xxl-5,
  .gx-xxl-5 {
    --bs-gutter-x: 3rem;
  }

  .g-xxl-5,
  .gy-xxl-5 {
    --bs-gutter-y: 3rem;
  }
}
