<ion-card>

    <ion-card-content>

        <div class="match-time">
            {{match?.getFormattedStartTime()}}
        </div>

        <ion-row>
            <ion-col class="match-team">
                <img src="{{match?.homeImage}}" class="team-image"/>
                {{match?.homeName}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="match-team">
                <img src="{{match?.awayImage}}" class="team-image"/>
                {{match?.awayName}}
            </ion-col>
        </ion-row>
    </ion-card-content>

    <ion-card-header>
        <ion-grid>
            <ion-row>
                <ion-col>
                    {{match?.team}}
                </ion-col>

                <ion-col size="5" class="ion-text-center">
                    <b>
                        <ion-icon icon="pin"></ion-icon>
                        {{match?.location}}
                    </b>
                </ion-col>

                <ion-col class="ion-text-right">
                    {{match?.fixture}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-header>

</ion-card>
