ion-card-content {
  padding: 0;
}

.match-item {
  margin-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
}

.club-logo {
  width: 50px;
}

.match-result {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  margin-inline-start: 16px;
  color: var(--ion-color-dark);
}

.match-result-loser {
  color: var(--ion-color-medium);
}

.match-result-winner:before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 8px solid var(--ion-color-primary);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  transform: translateY(-50%);
}

.separator-heading {
  padding-left: 16px;
  margin-top: 32px;
  font-size: 24px;
  font-style: normal;
  text-transform: uppercase;
  color: #31404b;
  font-weight: 700;
  font-family: Montserrat,sans-serif;
  letter-spacing: -.02em;
}

.lineup-jerseynumber {
  font-weight: bold;
}

.captain {
  border-top: 22px solid transparent;
  bottom: 0;
  display: block;
  height: 0;
  position: absolute;
  top: auto;
  width: 0;
  border-right: 22px solid var(--ion-color-primary);
  left: auto;
  right: 0;
  z-index: 3;
}

.captain span {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  top: -13px;
  right: -20px;
  left: auto;
}

.event-image {
  height: 20px;
  width: auto;
  padding-left: 6px;
  margin-inline-end: 16px;
}
