.match-infos {
  display: flex;
  align-items: center;
  margin: 16px;
}

.match-result {
  font-size: 30px;
  font-weight: bold;
  width: 50px;
  position: relative;
}

.club-logo {
  display: flex;
}

.club-logo img {
  height: 50px;
}

.club-name {
  margin-left: 16px;
}

.match-result {
  color: var(--ion-color-dark);
}

.match-result-loser {
  color: var(--ion-color-medium);
}

.match-result-winner:before {
  content: "";
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  width: 0;
  height: 0;
  border-right: 8px solid var(--ion-color-primary);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  transform: translateY(-50%);
}

.separator-heading {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.event-table td {
  padding: 4px;
}

.event-time {
  width: 26px;
  height: 26px;
  line-height: 24px;
  border: 1px solid var(--ion-color-medium);
  border-radius: 50%;
  text-align: center;
  font-size: 9px;
  background-color: #fff;
  font-weight: 700;
}

.cameInFor {
  font-size: 0.75em;
}

.event-image {
  height: 15px;
  width: auto;
}
