<page-header></page-header>
<page-state [loading]="isLoading" [error]="isError"></page-state>

<ion-content color="light">

    <ng-template [ngIf]="events.length > 0">
        <h3>Anstehende Termine</h3>
        <div class="scrolling-wrapper-flexbox">
            <ng-template ngFor let-event [ngForOf]="events">

                <event-card class="card" [event]="event"></event-card>

            </ng-template>
        </div>
    </ng-template>

    <ng-template [ngIf]="articles.length > 0">
        <h3>Berichte</h3>

        <ion-grid>
            <ion-row>
                <ion-col size="12" sizeMd="6" sizeLg="4" *ngFor="let article of articles">

                    <article-card [title]="article.title"
                                  [subTitle]="article.getFormattedDate()"
                                  [image]="article.getFirstImageAsBackgroundUrl()"
                                  [routerLink]="article.getArticleLink()">
                    </article-card>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-template>

</ion-content>